@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      var(--font-sf-pro),
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      sans-serif;
  }
}

:root {
  --color-black: #1a1918;
  --color-white: #ffffff;
  --color-gray-100: #fafafa;
  --color-gray-300: #d1d1d1;
  --color-gray-600: #8c8c8b;
  --color-gray-800: #484746;
  --color-primary: #1a1918;
}

body {
  background: var(--color-white);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  [class*="text-"] svg path,
  [class*="text-"] svg rect,
  [class*="text-"] svg polygon {
    fill: currentColor;
    /* stroke: currentColor; */
  }
}

/* 스크롤바 숨기기 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 모달 백드롭 색상 */
dialog::backdrop {
  background-color: rgba(16, 19, 24, 0.3);
}
